// ======================================================
// Components / Quick Menu
// ======================================================

.c-quick-menu {
  position: fixed;
  z-index: 11;
  background-color: rgba($color: darken($main, 10%), $alpha: 0.96);
}

.c-quick-menu_inner {
  position: relative;
  height: 100%;
  width: 100%;
}

// Scollbar
// ======================================================

.c-quick-menu_scroll {
  position: absolute !important;
  right: rem($quick-menu--scroll-margin-right);
  bottom: rem($quick-menu--scroll-margin-bottom);
  @media (max-width: $to-medium) {
    right: rem($quick-menu--scroll-margin-right * 0.76);
    bottom: rem($quick-menu--scroll-margin-bottom * 0.8);
  }
}

.c-quick-menu_scroll_thumb-h {
  background-color: transparent;
}

.c-quick-menu_scroll_thumb-v {
  background-color: darken($main, 2%);
}

// Items
// ======================================================

.c-quick-menu_list {
  width: 100%;
  list-style-type: none;
  padding-left: rem($quick-menu--scroll-margin-right * 2.5);
}

.c-quick-menu_item {
  text-align: right;
  display: list-item;
  padding-right: rem($quick-menu--btn-size / 4);

  transition: $speed ease-out, background-color $speed $easing;
  @for $i from 1 to 25 {
    &:nth-child(#{$i}) {
      transition-delay: #{$speed / 2.5 * $i}, 0s;
    }
  }

  &:hover {
    background-color: rgba($color: $black, $alpha: 0.1);
    & .c-quick-menu_link {
      color: $white;
      & .c-quick-menu_bullet {
        transform: rotate(-45deg);
      }
    }
  }

  .c-quick-menu.-show & {
    opacity: 0;
    transform: translateX(3%);
  }

  .c-quick-menu.-show.-animate & {
    opacity: 1;
    transform: translateX(0);
  }
}

.c-quick-menu_link {
  width: 100%;
  height: 100%;

  display: block;
  cursor: pointer;
  padding: rem($unit / 2) 0;

  font-weight: $thin;
  color: rgba($color: $white, $alpha: 0.45);
  font-size: rem($quick-menu--link-font-size);

  transition: color $quick-menu--link-speed $easing;
}

.c-quick-menu_bullet {
  width: rem($quick-menu--bullet-size);
  height: rem($quick-menu--bullet-size);
  margin-left: rem($unit);

  transform: rotate(45deg);
  transition: transform $quick-menu--bullet-speed ease-out;
}

// Button
// ======================================================

.c-quick-menu_btn {
  position: fixed;
  right: rem($quick-menu--btn-margin);
  bottom: rem($quick-menu--btn-margin);
  z-index: 11;

  width: rem($quick-menu--btn-size);
  height: rem($quick-menu--btn-size);

  font-size: 0;
  border: none;
  border-radius: 50%;

  @media (max-width: $to-medium) {
    right: rem($quick-menu--btn-margin * 0.72);
    bottom: rem($quick-menu--btn-margin * 0.72);
  }
}

.c-quick-menu_btn_1-1,
.c-quick-menu_btn_1-2,
.c-quick-menu_btn_2-1,
.c-quick-menu_btn_2-2 {
  display: block;
  transition-timing-function: ease;
}

.c-quick-menu_btn_1-1,
.c-quick-menu_btn_2-1 {
  top: 50%;
  left: 50%;
  position: absolute;

  .c-quick-menu_btn.-stop & {
    transform: scale(1) !important;
  }
}

.c-quick-menu_btn_1-2,
.c-quick-menu_btn_2-2 {
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  position: relative;

  .c-quick-menu_btn.-stop & {
    transform: rotate(45deg) !important;
  }
}

.c-quick-menu_btn_1-1 {
  z-index: 1;
  width: rem($quick-menu--1-1--size);
  height: rem($quick-menu--1-1--size);
  margin-top: rem(-$quick-menu--1-1--size / 2);
  margin-left: rem(-$quick-menu--1-1--size / 2);
  transition-duration: 1.5s;
}

.c-quick-menu_btn_2-1 {
  z-index: 2;
  width: rem($quick-menu--2-1--size);
  height: rem($quick-menu--2-1--size);
  margin-top: rem(-$quick-menu--2-1--size / 2);
  margin-left: rem(-$quick-menu--2-1--size / 2);
  transition-duration: 1s;
}

.c-quick-menu_btn_1-2 {
  transition-duration: 2.5s;
  background-color: rgba($color: lighten($accent, 20%), $alpha: 0.9);
}

.c-quick-menu_btn_2-2 {
  transition-duration: 1.5s;
  background-color: $white;
}
