// ======================================================
// Components-ui / Footer
// ======================================================

.c-footer {
  padding: rem($unit) 0;
  text-align: center;
  color: $gray-dark;
  background-color: $gray;
}
